@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@400;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@400;700&display=swap');

.noto-sans-regular {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.noto-sans-bold {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: danjo;
    src: url(../font/Danjo-bold-Regular.otf);
}

body {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
}
/* vbox */
.vbox{
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
}
.vbox video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
/* //vbox */

/* header */
.t_hidden {
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


h1 {
    width: 67px;
}

header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    z-index: 3;
}

header nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav .menu {
    height: 100px;
    display: flex;
}

header nav .menu>li {
    width: 150px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #fff;
    font-family: danjo;
    font-size: 16px;
}

header nav .menu>li:hover {
    color: #000
}

nav .sub {
    display: none;
}

nav .submenu li {
    background-color: #EDE6D6;
    color: #000;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    font-size: 16x;
    height: 50px;
    line-height: 50px;
    transition: .2s;
}

nav .submenu li:hover {
    background-color: #6D5547;
    color: #fff;
}

nav li a {
    display: block;
}

.ham {
    display: none;
    cursor: pointer;
}

/* //header */

/* m-menu */
.m-menu {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -200px;
    color: #fff;
    background-color: #983B43;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.m-menu .close {
    position: absolute;
    top: 42px;
    right: 11px;
    cursor: pointer;
}

.m-menu ul {
    margin-top: 100px;
    width: 200px;
}

.m-menu ul>li:hover {
    color: #000;
}

.m-menu ul li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}

.m-menu ul li {
    border-bottom: 1px solid #fff;
}

.m-menu .m_submenu {
    width: 100%;
    height: 50px;
    background-color: #EDE6D6;
    font-size: 16px;
    line-height: 50px;
    display: none;
}

/* //m-menu */


/* bs */
.bs{
    width: 100%;
    height: 100vh;
    margin-top: 100px;
    padding: 0 60px;
}
.bs>h2{
    font-family: danjo;
    font-size: 32px;
    margin-bottom: 100px;
}
.bs .box{
    display: flex;
    justify-content: space-between;
}
.bs .box .left{
    width: 736px;
}
.bs .box .left h4{
    font-size: 40px;
    font-weight: 700;
    margin: 23px 0;
}
.bs .box .left p{
    line-height: 160%;
}
.bs .box .right{
    width: 888px;
}
.bs .box .right .box .ibox{
    width: 432px;
    height: 280px;
    background-size: cover;
}
.bs .box .right .box .ibox1{
    background-image: url(../image/sub1_bs1.jpg);
}
.bs .box .right .box .ibox2{
    background-image: url(../image/sub1_bs2.jpg);
}
.bs .box .right .box .ibox3{
    background-image: url(../image/sub1_bs3.jpg);
}
.bs .box .right .box .ibox4{
    background-image: url(../image/sub1_bs4.jpg);
}
.bs .box .right .box .ibox5{
    background-image: url(../image/sub1_bs5.jpg);
}
.bs .box .right .box .ibox h3{
    line-height: 280px;
    text-align: center;
    color: #fff;
    font-family: danjo;
    font-size: 48px;
}
.bs .box .right .box .text h4{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
}

/* //bs */