@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@400;700&display=swap');

.noto-sans-regular {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.noto-sans-bold {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: danjo;
    src: url(../font/Danjo-bold-Regular.otf);
}

body {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

/* main */
.t_hidden {
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

h1 {
    width: 67px;
}

main h2 {
    font-family: danjo;
    position: absolute;
    width: 100%;
    top: 60%;
    text-align: center;
    font-size: 15vw;
    color: #fff;
}

header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

header nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav .menu {
    height: 100px;
    display: flex;
}

header nav .menu>li {
    width: 150px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #fff;
    font-family: danjo;
    font-size: 16px;
}

header nav .menu>li:hover {
    color: #000
}

nav .sub {
    display: none;
}

nav .submenu li {
    background-color: #EDE6D6;
    color: #000;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    font-size: 16x;
    height: 50px;
    line-height: 50px;
    transition: .2s;
}

nav .submenu li:hover {
    background-color: #6D5547;
    color: #fff;
}

nav li a {
    display: block;
}

.ham {
    display: none;
    cursor: pointer;
}

/* //main */

/* m-menu */
.m-menu {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -200px;
    color: #fff;
    background-color: #983B43;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.m-menu .close {
    position: absolute;
    top: 42px;
    right: 11px;
    cursor: pointer;
}

.m-menu nav {
    margin-top: 100px;
    width: 200px;
}

.m-menu ul>li:hover {
    color: #000;
}

.m-menu ul li {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    width: 100%;
    line-height: 50px;
    font-size: 18px;
}

.m-menu ul li {
    border-bottom: 1px solid #fff;
}

.m-menu .m_submenu li{
    border: none;
    width: 100%;
    height: 50px;
    background-color: #EDE6D6;
    font-size: 16px;
    line-height: 50px;
}
.m-menu .m_submenu li:hover{
    background-color: #6D5547;
    color: #fff;
}
.m-menu .m_submenu{
    display: none;
}

/* //m-menu */

/* section1 */
.best {
    width: 100%;
    height: 100vh;
    padding: 0 60px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #fff 0 50%, #EDE6D6 50% 100%);
}

.best .content {
    height: 60vh;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.best .group {
    display: flex;
    align-items: flex-end;
}

.best .title{
    margin-top: 150px;
}
.best .title h2 {
    font-family: danjo;
    font-size: 32px;
    margin-bottom: 20px;
}


.best .title p {
    font-size: 20px;
}


.best .box .t {
    display: flex;
}

.best .box .t ul {
    display: flex;
    margin-left: 30px;
    font-size: 20px;
    font-family: "Noto Sans", sans-serif;
    color: #EDE6D6;
}

.best .box .t ul li:not(:first-child) {
    margin-left: 20px;
}

.best .box2 .t2 ul li:nth-child(1),
.best .box2 .t2 ul li:nth-child(2) {
    color: #C30E2F;
}

.best .box1 .t2 ul li:nth-child(1),
.best .box1 .t2 ul li:nth-child(2),
.best .box1 .t1 ul li:nth-child(1),
.best .box1 .t1 ul li:nth-child(2),
.best .box1 .t1 ul li:nth-child(3) {
    color: #C30E2F;
}

.best .box3 .t ul li {
    color: #C30E2F;
}

.best .box4 .t2 ul li:nth-child(1),
.best .box4 .t1 ul li:nth-child(1),
.best .box4 .t1 ul li:nth-child(2),
.best .box4 .t1 ul li:nth-child(3) {
    color: #C30E2F;
}

.best .box5 .t ul li:not(:last-child) {
    color: #C30E2F;
}

.best .box .t1 {
    margin-bottom: 20px;
}

.best .box h4 {
    font-family: danjo;
    font-size: 24px;
}

.best .img {
    width: 375px;
    height: 550px;
}

.best .img2 {
    width: 490px;
    height: 650px;
}

.best .p {
    width: 560px;
}

.best .p h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.best .p p {
    line-height: 160%;
}
.best figure{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* //section1 */

/* section2 */
.new {
    width: 100%;
    height: 100vh;
    padding: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, #fff 0 70%, #EDE6D6 70% 100%);
}
.new>h2 {
    font-family: danjo;
    font-size: 24px;
    margin-bottom: 40px;
    display: none;
}

.new figure {
    width: 378px;
}

.new .right {
    width: 30.42%;
    margin-left: 98px;
}

.new .right h2 {
    font-family: danjo;
    font-size: 32px;
}

.new .right h3 {
    font-size: 32px;
    margin-top: 97px;
}

.new .right p {
    margin-top: 28px;
    line-height: 160%;
}

.new .right .price {
    font-size: 24px;
    margin-top: 28px;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.new .right .price h4:last-child {
    margin-left: 33px;
}

.new .right .img {
    margin-top: 80px;
    display: flex;
}

.new .right .img .s {
    text-align: center;
}

.new .right .img .s:not(:first-child) {
    margin-left: 24px;
}

.new .right .img figure {
    width: 128px;
    height: 128px;
    margin-bottom: 10px;
}

.new .right .img .s p {
    margin-top: 10px;
}
.new button{
    background-color: #C30E2F;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    margin: 25px 0;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 50px;
   display: none;
}
/* //section2 */

/* section3 */
.hto {
    width: 100%;
    margin-top: 200px;
    padding: 0 60px;
    position: relative;
}

.hto .title {
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
}

.hto .title .text {
    display: flex;
    align-items: center;
}

.hto .title .text h2 {
    font-family: danjo;
    font-size: 32px;
    margin-right: 65px;
}

.hto .title button,
.b_button {
    background-color: #C30E2F;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    border: none;
    width: 128px;
    height: 55px;
    text-align: center;
    border-radius: 10px;
}

.b_button {
    position: absolute;
    left: 50%;
    margin-top: 50px;
    transform: translateX(-50%);
    display: none;
}

.hto .box {
    display: flex;
}

.hto .box .sbox{
    flex-grow: 1;
      flex-basis: calc(100% / 3);
      height: 736px;
}

.hto .box .sbox1 {
    border: 1px solid #6D5547;
    border-radius: 0 10px 10px 10px;
}
.hto .box .sbox2 {
    border: 1px solid #EDE6D6;
    border-radius: 0 10px 10px 10px;
}
.hto .box .sbox3 {
    border: 1px solid #983B43;
    border-radius: 0 10px 10px 10px;
    /* padding: 20px; */
}

.hto .box .sbox {
    margin-right: 24px;
}

.hto .box .sbox1 .text {
    margin: auto;
    margin-bottom: 45px;
    padding: 20px;
    background-color: #6D5547;
    border-radius: 0 10px 0 0;
    color: #fff;
}
.hto .box .sbox .text p:first-child{
    font-family: "Roboto", sans-serif;
}
.hto .box .sbox .text h3{
    font-family: "Roboto", sans-serif;
    margin: 10px 0;
    font-size: 32px;
}
.hto .box .sbox .text .pbr{
    line-height: 160%;
}

.hto .box .sbox2 .text {
    height: 190px;
    margin: auto;
    margin-bottom: 35px;
    padding: 20px;
    background-image: url(../image/hto_s2_bg.png);
    background-size: cover;
    border-radius: 0 10px 0 0;
    color: #000;
}
.hto .box .sbox3 .text {
    width: calc(100% - 20px);
    margin: auto;
    margin-bottom: 90px;
    padding: 20px;
    background-color: #983B43;
    color: #fff;
    border-radius: 0 10px 10px 10px;
}
.hto .box .sbox3{
    padding: 20px 0;
}

.hto .box .sbox .content {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.hto .box .sbox1 .content .ibox{
    width: calc(50% - 10px);
    text-align: center;
}
.hto .box .sbox1 .content .ibox figure{
    max-width: 165px;
    margin: auto;
}
.hto .box .sbox1 .content .ibox h4{
    margin: 10px 0;
}
.hto .box .sbox .content .ibox p{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #808080;
}
.hto .box .sbox .content .ibox2 p{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #808080;
}


.hto .box .sbox2 .content .ibox2{
    width: calc(33.33% - 10px);
    text-align: center;
}
.hto .box .sbox2 .content .ibox2 figure{
    max-width: 150px;
    margin: auto;
}
.hto .box .sbox2 .content .ibox2 h4{
    margin: 8px 0;
}
.hto .box .sbox3 .content{
    padding: 0 20px;
}
.hto .box .sbox3 .content .ibox3{
    width: 100%;
    text-align: left;
}

.hto .box .sbox3 .content .ibox3 h4{
    margin-bottom: 34px;
}
.hto .box .sbox3 .content .ibox3:first-child{
    margin-bottom: 90px;
}


/* //section3 */

/* section4 */
.tr {
    width: 100%;
    height: 100vh;
    margin-top: 200px;
}

.tr h2 {
    padding: 0 60px;
    font-family: danjo;
    font-size: 32px;
    margin-bottom: 100px;
}

.tr .text {
    display: flex;
    justify-content: center;
    margin-bottom: 57px;
    color: #808080;
}

.tr .text h4 {
    cursor: pointer;
    display: block;
}

.tr .text h4:hover {
    color: #000;
}

.tr .text h4:not(:first-child) {
    margin-left: 100px;
}

.tr .box {
    width: 100%;
    height: 621px;
    background-color: #EDE6D6;
    padding: 90px 63px;
}

.tr .box .tbox {
    width: 33.54%;
    display: flex;
    flex-direction: column;
}

.tr .box .tbox>p {
    line-height: 160%;
}

.tr .box .tbox .tt {
    color: #6D5547;
    margin-bottom: 264px;
}

.tr .box .tbox .tt h3 {
    font-size: 32px;
    margin-bottom: 10px;
}

.tr .box .tbox .tt p {
    font-family: "Roboto", sans-serif;
}
.tr .box .sbox{
    position: relative;
}
.tr .box figure {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tr .teabox2,
.tr .teabox3 {
    display: none;
}

/* //section4 */

/* section4_M */
.m_tr {
    width: 100%;
    margin-top: 300px;
}

.m_tr h2 {
    font-family: danjo;
    font-size: 24px;
    margin-bottom: 50px;
    margin-left: 17px;
}

.m_tr .box {
    text-align: center;
    width: 100%;
    height: 521px;
    background-color: #EDE6D6;
    padding: 0 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.m_tr .tt {
    color: #6D5547;
}

.m_tr .tt p {
    margin-bottom: 17px;
    font-family: danjo;
}

.m_tr .tt p {
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 24px;
}

.m_tr .box figure {
    width: 130px;
    margin: 40px auto;
}

.m_tr .box p {
    line-height: 160%;
    font-size: 16px;
}

.m_tr {
    display: none;
}

/* //section4_M */

/* section5 */
.membership {
    width: 100%;
    height: 120vh;
    padding: 0 60px;
    margin-top: 200px;
    background: linear-gradient(to left, #fff 0 50%, #6D5547 50% 100%);
}

.membership .content {
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.membership .content h2 {
    font-family: danjo;
    font-size: 32px;
    color: #fff;
    margin-bottom: 20px;
}

.membership .content>p {
    color: #fff;
    margin-bottom: 65px;
}
.membership .content .tbox .small {
    font-size: 18px;
}

.membership .content .phone {
    width: 338px;
    height: 662px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.membership .content .box {
    display: flex;
    justify-content: right;
    align-items: center;
}

.membership .content .box .tbox {
    width: 36.46%;
}

.membership .content .box .tbox h4 {
    font-size: 24px;
}

.membership .content .box .tbox p {
    margin-top: 20px;
    line-height: 160%;
}

.membership .content .box .tbox figure {
    width: 538px;
    height: 304px;
}

.membership .content .box .tbox button {
    background-color: #C30E2F;
    width: 283px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    margin: 25px 0;
    cursor: pointer;
}

/* //section5 */

/* footer */
footer {
    width: 100%;
    height: 400px;
    background-color: #6D5547;
    margin-top: 100px;
    padding: 60px;
    font-size: 16px;
    color: #fff;
    position: relative;
    overflow: hidden;
}

footer .text {
    width: 1496px;
    display: flex;
    align-items: center;
}

footer .left p {
    color: #D9D9D9;
    font-family: "Roboto", sans-serif;
    line-height: 160%;
    margin-top: 57px;
    font-size: 12px;
}

footer .left figure {
    width: 113px;
    height: 148px;
}

footer .center {
    margin-left: 9.6%;
}

footer .pbox {
    display: flex;
    margin: 50px 0;
}

footer .pbox>p:not(:first-child) {
    margin-left: 30px;
}

footer .pbox .p {
    color: #CFCFCF;
    font-size: 12px;
    margin-left: 30px;
}

footer .pbox .p p:first-child {
    margin-bottom: 12px;
}

footer .small {
    font-size: 12px;
}

footer nav ul {
    display: flex;
}

footer nav ul li:not(:first-child) {
    margin-left: 25px;
}

footer .sns {
    display: flex;
    height: 32px;
    position: relative;
    left: 95%;
    top: -100%;
}

footer .sns figure {
    width: 32px;
    height: 32px;
}

footer .sns figure:first-child {
    width: 17px;
}

footer .sns figure:not(:first-child) {
    margin-left: 20px;
}

/* //footer */

@media screen and (max-width:1500px) {

    /* main */
    main h2 {
        top: 50%;
    }

    /* main */

    /* section1 */
    .best .p {
        width: 33.33%;
    }

    /* section1 */

    /* section2 */
    .new .content .right {
        width: 40%;
    }

    /* //section2 */


    /* section3 */
    

    
    /* //section3 */


    /* section5 */
    .membership .content .box .tbox {
        width: 33%;
    }

    .membership .content .phone {
        width: 300px;
        height: 600px;
        transform: translate(-50%, -50%);
    }

    .membership .content .box .tbox figure {
        width: 80.33%;
    }

    /* //section5 */

    /* footer */
    footer .center {
        margin-left: 2.5%;
    }

    footer .left figure {
        width: 50%;
        height: 30%;
    }

    footer {
        font-size: 1.2vw;
    }

    footer .small {
        font-size: 1vw;
        line-height: 160%;
    }

    footer nav ul li:not(:first-child) {
        margin-left: 10px;
    }
    footer .sns {
        left: 90%;
    }
    /* //footer */

}

@media screen and (max-width:1210px) {

    /* main */
    main header .menu {
        display: none;
    }

    .ham {
        display: block;
    }

    header{
        padding: 0 24px;
    }

    /* main */


    /* section1 */
    .best .img {
        width: 300px;
    }
    
    .best .img2 {
        width: 400px;
    }
    
    /* //section1 */

    /* section2 */
    .new .right .img figure {
        width: 115px;
        height: 115px;
    }

    .new .right .img {
        margin-top: 30px;
    }

    .new .right {
        margin-left: 75px;
    }

    /* section2 */

    /* section3 */
    .hto .title .text h2 {
        margin-right: 20px;
    }

    .hto .title .text p {
        line-height: 160%;
        width: 60%;
    }

    .hto .title button {
        width: 100px;
    }
    .hto .sbox3 .text .p2{
        line-height: 160%;
    }


    /* section3 */

    /* section4 */
    .tr .box {
        padding: 80px 63px;
    }

    .tr .box figure {
        width: 280px;
    }

    /* section4 */

    /* section5 */
    .membership .content>p {
        font-size: 1.5vw;
    }
    .membership {
        background: linear-gradient(to left, #fff 0 60%, #6D5547 60% 100%);
    }
    
    .membership .content .phone {
        top: 50%;
        left: 40%;
        transform: translate(-55%, -45%);
    }
    .membership .content .box .tbox {
        width: 43%;
    }

    /* //section5 */

    /* footer */
    footer {
        font-size: 1.1vw;
        padding: 60px 24px;
    }

    footer .small {
        line-height: 160%;
    }

    footer .pbox {
        line-height: 160%;
    }
    footer .sns {
        left: 85%;
    }

    /* //footer */

}

@media screen and (max-width:991px) {

    /* main */
    main h2 {
        top: 45%;
    }

    /* main */

    /* section1 */
    .best .box h4 {
        font-size: 20px;
    }

    .best .p h4 {
        font-size: 18px;
    }

    .best .p p {
        font-size: 16px;
    }

    /* section1 */

    /* section2 */
    .new>figure {
        width: 40%;
    }

    .new .right {
        width: 50%;
    }

    .new .right .img figure {
        width: 90px;
        height: 90px;
    }

    .new .right h3 {
        font-size: 24px;
        margin-top: 50px;
    }

    /* //section2 */

    /* section3 */

    .hto{
        padding: 0 16px;
    }
    .hto .title .text {
        display: block;
    }

    .hto .title .text h2 {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .hto .title .text p {
        width: 100%;
    }
  
    /* .hto .box .sbox3 {
        padding: 20px 8px;
    } */
    .hto .box .sbox .text h3{
        font-size: 24px;
    }
    .hto .box .sbox .text .p2{
        font-size: 18px;
    }
    /* .hto .box .sbox1 .content .ibox figure{
        max-width: 150px;
    }
    .hto .box .sbox .content .ibox2 figure{
        max-width: 130px;
    } */
    .hto .box .sbox1 .content{
        gap: 20px;
    }
    .hto .box .sbox1 .content .ibox h4, .hto .box .sbox .content .ibox2 h4{
        font-size: 16px;
    }
    .hto .box .sbox1 .content .ibox p, .hto .box .sbox .content .ibox2 p{
        font-size: 12px;
    }
    .hto .box .sbox1 .text{
        height: 133px;
    }
    .hto .box .sbox {
        margin: 0 16px;
    }
    
    
    /* //section3 */


    /* section4 */
    .tr .box .tbox {
        width: 48%;
    }

    .tr .box figure {
       left: 75%;
    }

    /* //section4 */

    /* section5 */
    .membership .content .box .tbox figure {
        width: 90.33%;
    }

    .membership .content h2 {
        font-size: 24px;
    }
    .membership {
        background: linear-gradient(to left, #fff 0 60%, #6D5547 60% 100%);
    }
    
    .membership .content .phone {
        top: 50%;
        left: 0;
        transform: translate(-5%, -45%);
    }
    .membership .content .box .tbox {
        width: 50%;
    }

    /* //section5 */

    /* footer */
    footer .text {
        flex-direction: column;
        align-items: flex-start;
    }

    footer {
        height: 600px;
        font-size: 12px;
    }

    footer .left {
        display: flex;
        align-items: flex-end;
        margin-bottom: 30px;
    }

    footer .left figure {
        width: 97px;
        height: 128px;
        margin-right: 30px;
    }
    footer .center {
        margin-left: 0;
    }
    footer .sns {
        left: 85%;
        top: -75%;
    }

    footer .small ul{
        font-size: 10px;
    }

    /* //footer */
}

@media screen and (max-width:767px) {

    /* main */
    main h2 {
        top: 40%;
    }
    header{
        padding: 0 16px;
    }

    /* main */

    /* section1 */
    .best {
        background: none;
    }
    .best figure{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);   
    }
   
    .best .content {
        flex-direction: column;
        align-items: center;
    }
  
    .best .c_group .content .box{
        display: flex;
        order: 3;
    }

    .best .p {
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }
    .best .c_group .content .group {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .best .img {
        width: 230px;
        height: fit-content;
        margin-top: 40px;
    }
    
    .best .img2 {
        width: 310px;
        height: fit-content;
    }
    .best .title h2{
        font-size: 24px;
    }
    .best .title p{
        font-size: 16px;
    }
    .best .p h4 {
        font-size: 18px;
    }
    
    .best .p p {
        font-size: 16px;
        margin-bottom: 20px;
    }    
    .best .box .t ul {
        margin-left: 30px;
    }
    .best .box .t1 {
        margin-right: 20px;
    }
    .best figure{
        position: absolute;
        top: 50%;
        left: 50%;
    }
    
    /* //section1 */

    /* section2 */
    .new {
        flex-direction: column;
        background: none;
        align-items: flex-start;
    }
    .new>h2 {
        display: block;
    }

    .new figure {
        width: 217px;
        margin: 0 auto;
    }

    .new .right {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .new .right h2 {
        display: none;
    }

    .new .right h3 {
        font-size: 32px;
        margin-top: 97px;
    }

    .new .right p {
        margin-top: 28px;
        line-height: 160%;
    }

    .new .right .price {
        justify-content: center;
    }
    .new .right .img {
        display: none;
    }
    .new button{
        display: block;
    }

    /* //section2 */

    /* section3 */
    .hto .title .text h2 {
        font-size: 24px;
    }
    .hto .title button {
        display: none;
    }

    .b_button {
        display: block;
    }

    .hto .title .text p {
        display: none;
    }

    /* //section3 */

    /* section4 */
    .tr {
        display: none;
    }

    .m_tr {
        display: block;
    }

    /* //section4 */

    /* section5 */
    .membership {
        background: none;
    }
    .membership .content .phone {
        width: 306px;
        height: 600px;
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .membership .content h2 {
        color: #000;
        font-size: 24px;
    }

    .membership .content>p {
        color: #000;
        font-size: 16px;
    }

    .membership .content .box {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .membership .content .box>figure {
        width: 306px;
        height: 600px;
        margin-top: 35px;
        margin-right: 0;
    }

    .membership .content .box .tbox {
        width: 100%;
        text-align: center;
    }

    .membership .content .box .tbox h4 {
        margin-top: 20px;
        margin-bottom: 35px;
        font-size: 18px;
    }

    .membership .content .box .tbox p {
        font-size: 16px;
        text-align: left;
    }

    .membership .content .box .tbox figure {
        margin: auto;
        margin-bottom: 100px;
    }

    /* //section5 */

    /* footer */
    footer .text {
        flex-direction: column;
        align-items: flex-start;
    }

    footer {
        padding: 60px 16px;
    }

    footer .sns {
        left: 80%;
        top: -75%;
    }

    /* //footer */
}

@media screen and (max-width:575px) {

    /* main */
    main h2 {
        top: 60%;
    }

    /* main */

    /* section1 */
    .best .img {
        width: 200px;
    }
    
    .best .img2 {
        width: 260px;
    }
    .best .box{
        flex-direction: column;
        align-items: center;
    }
    .best .box .t ul {
        margin-left: 30px;
    }
    .best .box .t1 {
        margin-right: 20px;
    }
    /* //section1 */

    /* section2 */
    .new {
        flex-direction: column;
        background: none;
    }

    .new figure {
        width: 217px;
    }

    .new .right {
        width: 100%;
        margin-left: 0;
    }

    .new .right h2 {
        font-family: danjo;
        font-size: 32px;
    }

    .new .right h3 {
        font-size: 32px;
        margin-top: 97px;
    }

    .new .right p {
        margin-top: 28px;
        line-height: 160%;
    }

    .new .right .price {
        font-size: 24px;
        margin-top: 28px;
        display: flex;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
    }

    /* //section2 */


    /* section5  */
    .membership .content .phone {
        width: 280px;
        height: 550px;
    }
    /* //section5  */
}
    

@media screen and (max-width:430px) {
    .hto{
        padding: 0;
    }

    .hto .title{
        padding: 0 16px;
    }

    .hto .box .sbox {
        margin: 0;
    }
}