@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@400;700&display=swap');

.noto-sans-regular {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.noto-sans-bold {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: danjo;
  src: url(../font/Danjo-bold-Regular.otf);
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

/* header */
.t_hidden {
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


h1 {
    width: 67px;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    margin-bottom: 55px;
    position: relative;
    z-index: 3;
}

header nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav .menu {
    height: 100px;
    display: flex;
}

header nav .menu>li {
    width: 150px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #000;
    font-family: danjo;
    font-size: 16px;
}

header nav .menu>li:hover {
    color: #6D5547
}

nav .submenu {
    display: none;
}

nav .submenu li {
    background-color: #EDE6D6;
    color: #000;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    font-size: 16x;
    height: 50px;
    line-height: 50px;
    transition: .2s;
}

nav .submenu li:hover {
    background-color: #6D5547;
    color: #fff;
}

nav li a {
    display: block;
}

header nav .ham {
    color: #000;
    display: none;
    cursor: pointer;
}

/* //header */

/* m-menu */
.m-menu {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -200px;
    color: #fff;
    background-color: #983B43;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 4;
}

.m-menu .close {
    position: absolute;
    top: 42px;
    right: 11px;
    cursor: pointer;
}

.m-menu nav {
    margin-top: 100px;
    width: 200px;
}

.m-menu ul>li:hover {
    color: #000;
}

.m-menu ul li {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    width: 100%;
    line-height: 50px;
    font-size: 18px;
}

.m-menu ul li {
    border-bottom: 1px solid #fff;
}

.m-menu .m_submenu li{
    border: none;
    width: 100%;
    height: 50px;
    background-color: #EDE6D6;
    font-size: 16px;
    line-height: 50px;
}
.m-menu .m_submenu li:hover{
    background-color: #6D5547;
    color: #fff;
}
.m-menu .m_submenu{
    display: none;
}

/* //m-menu */

/* title */
.title {
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    padding: 0 60px;
    position: relative;
    z-index: 1;
  }
  
  .title h2 {
    font-size: 40px;
    font-weight: 700;
  }

  .title .tbox{
    margin-left: 110px;
  }
  
  .title .tbox h4 {
    font-size: 24px;
    font-weight: 700;
  }
  .title .tbox p{
    font-size: 20px;
    margin-top: 20px;
  }
/* //title */

/* main */
main{
    display: flex;
}
main section{
    width: 20%;
    height: 700px;
    color: #fff;
    padding: 100px 20px;
    transition: 0.3s;
    filter: brightness(0.5);
}
main section:hover{
    width: 23%;
    filter: brightness(1);
}
main .s1{
    background-image: url(../image/sub2_1.jpg);
    background-size: cover;
}

main .s2{
    background-image: url(../image/sub2_2.jpg);
    background-size: cover;
}
main .s3{
    background-image: url(../image/sub2_3.jpg);
    background-size: cover;
}
main .s4{
    background-image: url(../image/sub2_4.jpg);
    background-size: cover;
}
main .s5{
    background-image: url(../image/sub2_5.jpg);
    background-size: cover;
}
main section .tt{
    text-align: center;
    margin-bottom: 60px;
}
main section .tt h3{
    font-size: 54px;
    font-family: danjo;
    margin-bottom: 18px;
}
main .s4 .tt h4, main .s5 .tt h4{
    line-height: 160%;
}
main section .tt h4{
    font-size: 24px;
}
main section p{
    line-height: 160%;
    margin-top: 20px;                                                                          
    font-weight: 700;
}
.pp{
    display: none;
}

/* //main */

/* footer */
footer {
    width: 100%;
    height: 400px;
    background-color: #6D5547;
    margin-top: 100px;
    padding: 60px;
    font-size: 16px;
    color: #fff;
    position: relative;
    overflow: hidden;
  }
  
  footer .text {
    width: 1496px;
    display: flex;
    align-items: center;
  }
  
  footer .left p {
    color: #D9D9D9;
    font-family: "Roboto", sans-serif;
    line-height: 160%;
    margin-top: 57px;
    font-size: 12px;
  }
  
  footer .left figure {
    width: 113px;
    height: 148px;
  }
  
  footer .center {
    margin-left: 9.6%;
  }
  
  footer .pbox {
    display: flex;
    margin: 50px 0;
  }
  
  footer .pbox>p:not(:first-child) {
    margin-left: 30px;
  }
  
  footer .pbox .p {
    color: #CFCFCF;
    font-size: 12px;
    margin-left: 30px;
  }
  
  footer .pbox .p p:first-child {
    margin-bottom: 12px;
  }
  
  footer .small {
    font-size: 12px;
  }
  
  footer nav ul {
    display: flex;
  }
  
  footer nav ul li:not(:first-child) {
    margin-left: 25px;
  }
  
  footer .sns {
    display: flex;
    height: 32px;
    position: relative;
    left: 95%;
    top: -100%;
  }
  
  footer .sns figure {
    width: 32px;
    height: 32px;
  }
  
  footer .sns figure:first-child {
    width: 17px;
  }
  
  footer .sns figure:not(:first-child) {
    margin-left: 20px;
  }
  
  /* //footer */
  
  @media screen and (max-width:1700px) {
    /* title */
    .title h2 {
      line-height: 160%;
    }
  
    .title .tbox p{
      line-height: 160%;
    }
    /* title */

    main section .tt h4{
      line-height: 160%;
  }
  }
  @media screen and (max-width:1500px) {
    
    /* title */
  }
  
  @media screen and (max-width:1210px) {

    header {
      padding: 0 24px;
    }
  
    header nav .menu {
      display: none;
    }
  
    header nav .ham {
      display: block;
    }

    .title {
      padding: 0 24px;
      flex-direction: column;
    }
    .title .tbox{
      margin-left: 0;
      margin-top: 50px;
    }

    main section{
      padding: 50px 16px;
  }
  main section .tt h3{
    font-size: 45px;
  }
    main section p{
      font-size: 20px;
    }
    main section .tt h4{
      font-size: 22px;
  }
  }

  @media screen and (max-width:991px) {
    main section p{
      font-size: 16px;
    }
    main section .tt h4{
      font-size: 20px;
  }
  }
  
  @media screen and (max-width:767px) {
    main{
      flex-direction: column;
    }
    main section{
    width: 100%;
    position: relative;
    padding: 100px 100px;
    }
    main section .tbox{
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
    }
    main section .tt{
      margin-bottom: 80px;
      width: 50%;
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
    }
    main section:hover{
      width: 100%;
  }
  main section p{
    font-size: 20px;
  }
  main section .tt h4{
    font-size: 24px;
}
  }

  @media screen and (max-width:575px) {
    main section p{
      font-size: 16px;
    }
    main section .tt h4{
      font-size: 20px;
  }
  main section{
    padding: 80px 40px;
    }
  }
  
  @media screen and (max-width:400px) {}