@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@400;700&display=swap');

.noto-sans-regular {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.noto-sans-bold {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: danjo;
  src: url(../font/Danjo-bold-Regular.otf);
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

/* header */
.t_hidden {
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


h1 {
  width: 67px;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  margin-bottom: 55px;
  position: relative;
  z-index: 3;
}

header nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav .menu {
  height: 100px;
  display: flex;
}

header nav .menu>li {
  width: 150px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: #000;
  font-family: danjo;
  font-size: 16px;
}

header nav .menu>li:hover {
  color: #6D5547
}

nav .submenu {
  display: none;
}

nav .submenu li {
  background-color: #EDE6D6;
  color: #000;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 16x;
  height: 50px;
  line-height: 50px;
  transition: .2s;
}

nav .submenu li:hover {
  background-color: #6D5547;
  color: #fff;
}

nav li a {
  display: block;
}

header nav .ham {
  color: #fff;
  display: none;
  cursor: pointer;
}

/* //header */

/* m-menu */
.m-menu {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -200px;
  color: #fff;
  background-color: #983B43;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 4;
}

.m-menu .close {
  position: absolute;
  top: 42px;
  right: 11px;
  cursor: pointer;
}

.m-menu nav {
  margin-top: 100px;
  width: 200px;
}

.m-menu ul>li:hover {
  color: #000;
}

.m-menu ul li {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  width: 100%;
  line-height: 50px;
  font-size: 18px;
}

.m-menu ul li {
  border-bottom: 1px solid #fff;
}

.m-menu .m_submenu li{
  border: none;
  width: 100%;
  height: 50px;
  background-color: #EDE6D6;
  font-size: 16px;
  line-height: 50px;
}
.m-menu .m_submenu li:hover{
  background-color: #6D5547;
  color: #fff;
}
.m-menu .m_submenu{
  display: none;
}

/* //m-menu */

/* title */
.title {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
}

.title h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.title p {
  font-size: 24px;
  font-weight: 700;
}

/* //title */

/* section */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  gap: 224px;
}

section .tbox {
  width: 578px;
}

section .img figure {
  max-width: 500px;
}

section .tbox .text h3 {
  font-size: 32px;
  font-family: danjo;
  margin-bottom: 20px;
}

section .tbox .text h4 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 45px;
}

section .tbox .text p {
  line-height: 160%;
}

section .tbox .text .p {
  margin-top: 20px;
}

section .bottom {
  margin-top: 97px;
}

section .bottom .b {
  display: flex;
  margin-bottom: 15px;
}

section .bottom .b1 {
  gap: 19px;
}

section .bottom .b2 {
  gap: 23px;
}

section .bottom .bb {
  gap: 33px;
}

section .bottom ul {
  display: flex;
  gap: 9px;
}

section .bottom .b ul li {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #EDE6D6;
}

section .bottom1 .b2 ul li:not(:nth-child(4), :nth-child(5)),
section .bottom1 .b3 ul li:not(:nth-child(5)),
section .bottom1 .b4 ul li:not(:nth-child(4), :nth-child(5)),
section .bottom2 .b2 ul li:not(:nth-child(4), :nth-child(5)),
section .bottom2 .b3 ul li:not(:nth-child(4), :nth-child(5)),
section .bottom2 .b4 ul li:not(:nth-child(4), :nth-child(5)),
section .bottom3 .b2 ul li:not(:nth-child(5)),
section .bottom3 .b3 ul li:not(:nth-child(4), :nth-child(5)),
section .bottom3 .b4 ul li:not(:nth-child(4), :nth-child(5)),
section .bottom4 .b2 ul li:not(:nth-child(5)),
section .bottom4 .b3 ul li:not(:nth-child(5)),
section .bottom4 .b4 ul li:not(:nth-child(4), :nth-child(5)) {
  background-color: #C30E2F;
}

section .bottom2 .b3 ul li:nth-child(4),
section .bottom3 .b2 ul li:nth-child(5),
section .bottom3 .b3 ul li:nth-child(4),
section .bottom3 .b4 ul li:nth-child(4),
section .bottom4 .b4 ul li:nth-child(4) {
  background: linear-gradient(to left, #EDE6D6 0 50%, #C30E2F 50% 100%);
}


/* //section */

/* footer */
footer {
  width: 100%;
  height: 400px;
  background-color: #6D5547;
  margin-top: 100px;
  padding: 60px;
  font-size: 16px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

footer .text {
  width: 1496px;
  display: flex;
  align-items: center;
}

footer .left p {
  color: #D9D9D9;
  font-family: "Roboto", sans-serif;
  line-height: 160%;
  margin-top: 57px;
  font-size: 12px;
}

footer .left figure {
  width: 113px;
  height: 148px;
}

footer .center {
  margin-left: 9.6%;
}

footer .pbox {
  display: flex;
  margin: 50px 0;
}

footer .pbox>p:not(:first-child) {
  margin-left: 30px;
}

footer .pbox .p {
  color: #CFCFCF;
  font-size: 12px;
  margin-left: 30px;
}

footer .pbox .p p:first-child {
  margin-bottom: 12px;
}

footer .small {
  font-size: 12px;
}

footer nav ul {
  display: flex;
}

footer nav ul li:not(:first-child) {
  margin-left: 25px;
}

footer .sns {
  display: flex;
  height: 32px;
  position: relative;
  left: 95%;
  top: -100%;
}

footer .sns figure {
  width: 32px;
  height: 32px;
}

footer .sns figure:first-child {
  width: 17px;
}

footer .sns figure:not(:first-child) {
  margin-left: 20px;
}

/* //footer */

@media screen and (max-width:1500px) {
  section {
    gap: 48px;
  }
}

@media screen and (max-width:1210px) {
  header {
    padding: 0 24px;
  }

  header nav .menu {
    display: none;
  }

  .ham {
    display: block;
  }

  section {
    padding: 0 24px;
  }
}

@media screen and (max-width:991px) {
  section {
    gap: 25px;
    flex-direction: column;
    align-items: flex-start;
  }
  section:nth-child(2n) {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width:767px) {
  header {
    padding: 0 16px;
  }
  .title{
    padding: 0 16px;
    text-align: left;
  }
  section {
    padding: 0 16px;
    margin-top: 100px;
  }
  
}

@media screen and (max-width:575px) {}

@media screen and (max-width:400px) {}